/* common css start */
*{
    margin: 0;
    padding: 0;
}
ul,ol{
    list-style-type: none;
    padding-left: 0 ;
    margin-bottom: 0;
}
h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
}
/* common css end */

/* Navbar part css starts */
#header{
    padding: 30px 0;
    background-color: rgba(8, 22, 33, 0.5);
    /* background-color: #081621; */
}
.search_btn{
    position: relative;
}
.search_btn button{
    padding: 0 200px;
    height: 52px;
    border: none;
    /* text-align: start; */
    /* padding-left: 30px; */
    border-radius: 5px;
}
.search_btn span i{
    position: absolute;
    content: "";
    top: 15px;
    right: 50px;
}

.list_items{
    display: flex;
    padding: 10px 0;
}
.list_items a{
    transition: all linear .3s;
    font-size: 16px;
    font-weight: 600;
}

.list_items a:hover{
    color: red;
}
/* Navbar part css ends */

/* Banner part css starts */
#banner{
    background-color: #F2F4F8;
    padding-top: 40px;
    padding-bottom: 80px;
}

.banner_left img{
    width: 100%;
}

.banner_right{
    padding: 20px;
    background-color: #FFE8A1;
    text-align: center  ;
}

.banner_right h4{
    color: #010101;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
}
.banner_right p{
    color: #000;
    opacity: 0.7;
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0;
    text-transform: capitalize;
}
.banner_right_btn button{
    padding: 5px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}








/* Banner part css endss */
